@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: neuropol;
  src: url(neuropol.otf);
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

#more {
    display: none;
}
body {
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Poppins', sans-serif;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 9;
    background: rgb(19,161,223);
    background: linear-gradient(0deg, rgba(19,161,223,1) 0%, rgba(3,102,178,1) 36%);
    height: 82px;
    text-transform: capitalize;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
  }
  
  .menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    text-align: center;
  
}

.menu-items li{
    width: 100%;
    height: 100%;
}
  .menu-items li a {
    font-size: 1.22rem;
    font-weight: 300;
    line-height: 4;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
    width: 100%;
    height: 100%;
  }


  .menu-items li a:hover{
    background: #13A1DF;
  }
/* nav menu button */
  .menu-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu-btn__lines,
  .menu-btn__lines::before,
  .menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #111111;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__lines::before,
  .menu-btn__lines::after {
    content: "";
    position: absolute;
  }
  
  .menu-btn__lines::before {
    transform: translateY(-0.5rem);
  }
  
  .menu-btn__lines::after {
    transform: translateY(0.5rem);
  }
hr {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
}


.link-item:hover{
background-color: #13a1df;
}

.landing-heading {
    text-align: center;
    text-transform: capitalize;
}

.landing-heading h1 {
  overflow: hidden;
}

.text {
    position: relative;
    color: #1b9a8f;
    font-size: 1.8rem;
    font-weight: 600;
}

.text.first-text {
    color: #0366b2;
}


.text.sec-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid #1b9a8f;
    animation: animate 4s steps(12) infinite;
}



  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0366B2;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 15px 1px;
    text-decoration: none;
    display: block;
    line-height: 1;
  }

  
  .show {display: block;}


  .product-heighlight {
    display: grid;
    grid-template-columns: auto auto;
    background: #e5e5e5;
    color: black;
  }



@keyframes animate {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cbe5f9ee;
    border-radius: 10px;
    padding-block: .4rem;
}
.box img {
    width: 70px;
    height: 50px;
}
.box h2 {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #0366b2;
    font-weight: 500;
}

.box:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    cursor: pointer;
}
.how{
    text-align: center;
    align-items: center;
}

.how-box-img {
    width: 80%;
    margin: 0 auto;
    height: 40vh;
    text-align: center;
}

.how h3 {
    font-size: 2rem;
    font-weight: 400;
}

.why{
    text-align: center;
}

.why h2 {
    color: black;
}

.why h3 {
    color: black;
    text-align: center;
}

.why-box {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2rem;
    background: aliceblue;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px;
    margin: 5px auto;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

.why-img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border: 2px solid rebeccapurple;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.5);

}

.why-box p {
    padding-inline: 1rem;
}

#how{
    font-family: neuropol;
    background: -webkit-linear-gradient(#0366b2, #13a1df);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about {
    background: linear-gradient(106.06deg, #0366B2 14.58%, #1B9A8F 100%);
    color: white;
}

#about h1 {
    font-family: neuropol;
}
#contact {
    margin-top: 5rem;
}

#contact h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: neuropol;
}

#contact .detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detail p {
    margin-bottom: 0 !important;
    font-size: 1.1rem;
    font-weight: 400;
}

.detail a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}
.addressHeading {
    font-size: 1.8rem !important;
    font-weight: 400;
}





/** For mobile devices **/
@media (max-width: 767px) {  
    .header a {
      font-size: 1rem;
    }  
    .menu-btn {
      display: flex;
    }  
    .menu-items {
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100vh;
      transform: translateX(100vw);
      background: rgb(19,161,223);
      background: linear-gradient(0deg, rgba(19,161,223,1) 0%, rgba(3,102,178,1) 36%);
      transition: transform 0.3s ease-in-out;
      padding: 0;
    }
  
    .menu-items.open {
      transform: translate(0);
    }

    .menu-items li a {
      color: #ffffff;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .menu-items li a:hover {
      color: #111111;
    }
  }

  .list-group {
    text-transform: capitalize;
    max-width: 400px;
  }